[submodule "inputs/fmriprep"]
	path = inputs/fmriprep
	url = git@gin.g-node.org:/lnnrtwttkhn/highspeed-fast-fmriprep-outputs.git
	datalad-id = 4a879f51-8e0d-4dfb-8dc8-8e690a15beb1
	datalad-url = git@gin.g-node.org:/lnnrtwttkhn/highspeed-fast-fmriprep-outputs.git
[submodule "preproc"]
	path = preproc
	url = ./preproc
	datalad-id = d25dba42-259d-4bc3-b94b-bc8652f083de
